<mat-card *ngIf="postForm">
  <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched">
        {{ getErrorMessage('title') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="postForm.get('description')?.invalid && postForm.get('description')?.touched">
        {{ getErrorMessage('description') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Image URL" formControlName="imagePath">
      <mat-error *ngIf="postForm.get('imagePath')?.invalid && postForm.get('imagePath')?.touched">
        {{ getErrorMessage('imagePath') }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">Add Post</button>
  </form>
</mat-card>
