<div class="create-post-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create a Post</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
          <mat-error *ngIf="postForm.get('title')?.invalid">{{ getErrorMessage('title') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="postForm.get('description')?.invalid">{{ getErrorMessage('description') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="imagePath">
          <mat-error *ngIf="postForm.get('imagePath')?.invalid">{{ getErrorMessage('imagePath') }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="postForm.invalid">Post</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
